@model IEnumerable<Entities.ToDo>

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="card">
    <div class="card-header">Tarefas a Fazer</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tarefas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Tarefa</td>
                        <td>
                            <div class="float-right">
                                @Html.ActionLink("Editar", "Editar", "Home", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                @Html.ActionLink("Remover", "Remover", "Home", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Cadastrar Tarefa", "Cadastrar", "Home", null, new { @class="btn btn-success btn-sm"})
    </div>
</div>